kumuluzee:
  name: dostavca-notifications
  env:
    name: dev
  version: 1.0.0
  server:
    base-url: http://localhost:8080
    http:
      port: 8080
  config:
     start-retry-delay-ms: 500
     max-retry-delay-ms: 900000
     etcd:
       hosts: http://localhost:2379
  discovery:
    cluster: dostavca
    etcd:
      hosts: http://localhost:2379
    ttl: 20
    ping-interval: 15

maintenance:
  value: false